* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --background: #1f1f1f;
  --font-color: #ffffff;
  --icon-color: #551616;
  --light-icon-color: #932e2e;
  --subbg: #d9d9d9;
  --lighter-color: #06b8c1;
  --darker-color: #000000;
}

body {
  background-color: var(--background);
}

header .nav-container {
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 2rem;
  background: transparent;
}

.logo {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: var(--font-color);
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list-vertical {
  display: none;
}

.nav-list a {
  color: var(--font-color);
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2pt solid transparent;
  margin-left: 8rem;
  transition: all 0.55s ease;
}

.nav-list a:hover {
  color: var(--lighter-color);
  border-bottom: 2pt solid var(--font-color);
}

#menu-icon {
  font-size: 35px;
  z-index: 1000;
  color: var(--font-color);
  cursor: pointer;
  display: none;
}

.search-bar {
  border: solid var(--font-color) 0.5pt;
  border-radius: 0.5rem;
}

.search-bar input {
  width: 8rem;
  padding: 0.2rem;
  border-radius: 0.5rem;
  border: none;
}

.signup-btn {
  width: 5rem;
  text-align: center;
  background-color: var(--icon-color);
  border-radius: 0.5rem;
  color: var(--font-color);
  border: var(--font-color) solid 2pt;
  padding: 0.5rem;
  cursor: pointer;
  transition: transform 250ms ease;
  margin-left: 5rem;
}

.signup-btn:hover {
  transform: scale(1.05);
  color: var(--lighter-color);
}

@media (max-width: 990px) {
  #menu-icon {
    display: block;
  }

  .nav-list {
    display: none;
  }

  .nav-list-vertical {
    z-index: 10000;
    position: absolute;
    top: 100px;
    right: 0;
    width: 300px;
    height: 40vh;
    background: var(--subbg);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 2rem;
    transform: all 0.55s ease;
    border-radius: 0.5rem;
    gap: 10px;
  }

  .nav-list-vertical li {
    background-color: var(--background);
    width: 70%;
    text-align: center;
    border-radius: 0.5rem;
    transition: all ease 0.55s;
    opacity: 0.75;
  }

  .nav-list-vertical li:hover {
    opacity: 1;
  }
  .nav-list-vertical a {
    color: var(--font-color);
    font-size: 16px;
    font-weight: 500;
    margin-left: 0;
  }

  .search-bar {
    display: none;
  }

  .signup-btn-vertical {
    width: 5rem;
    text-align: center;
    background-color: var(--icon-color);
    border-radius: 0.5rem;
    color: var(--font-color);
    border: var(--font-color) solid 2pt;
    padding: 0.5rem;
    cursor: pointer;
    transition: transform 250ms ease;
  }

  .signup-btn-vertical:hover {
    transform: scale(1.05);
    color: var(--lighter-color);
  }
  .close-btn {
    position: absolute;
    right: 5%;
    top: 5%;
  }
  .nav-list-vertical.show {
    display: flex; /* Show when 'show' class is added */
  }

  .search-bar-vertical {
    width: 80%;
    border: solid var(--font-color) 0.5pt;
    border-radius: 0.5rem;
  }

  .search-bar-vertical input {
    width: 100%;
    padding: 0.2rem;
    border-radius: 0.5rem;
    border: none;
  }
}

.slider-container .slider-wrapper {
  position: relative;
  width: 90%;
  margin: 0 auto;
}

.slider-container .slider-wrapper .slider {
  display: flex;
  aspect-ratio: 16/9;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.slider-nav a {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: var(--lighter-color);
  opacity: 0.75;
  transition: opacity ease 250ms;
}

.slider-nav a:hover {
  opacity: 1;
}

.slider::-webkit-scrollbar {
  display: none;
}

/* novel section*/

.sub-title {
  display: flex;
  align-self: center;
  justify-self: center;
  justify-content: center;
  text-align: center;
  background-color: var(--icon-color);
  color: var(--lighter-color);
  font: 20px;
  width: 20%;
  border: solid var(--font-color) 1.5pt;
  height: auto;
  padding: 0.5rem;
  margin: 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.sub-title:hover {
  transform: scale(1.05);
}

.novel-section {
  background-color: var(--darker-color);
  padding: 0.5rem;
  margin: 1.5rem;
}

.popular-novel-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  column-gap: 1.5rem;
  row-gap: 1.5rem;
}

.popular-novel-list img {
  width: 250px;
  height: 400px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 250ms ease;
}

.popular-novel-list img:hover {
  transform: scale(1.05);
}

.see-more {
  text-align: right;
  margin-top: 10px;
  margin-bottom: 10px;
}

.see-more a {
  font-size: 24px;
  color: var(--lighter-color);
  text-decoration: none;
  transition: transform 0.2s ease;
}

.see-more a:hover {
  color: var(--light-icon-color);
}

/* novel section*/

/*genres section*/

.genre-section {
  background-color: var(--subbg);
  margin: 1.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.genre-container {
  background-color: var(--background);
  padding: 1.5rem;
  border-radius: 0.5rem;
  margin: 0.5rem;
}

.genre-list {
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: baseline;
  align-items: center;
  column-gap: 2rem;
  row-gap: 2rem;
}

.genre-list li {
  width: 100px;
  background-color: var(--lighter-color);
  border: solid var(--icon-color) 1.5pt;
  text-align: center;
  transition: all 250ms ease;
  cursor: pointer;
}

.genre-list li:hover {
  transform: scale(1.05);
}

.genre-list li a {
  color: var(--darker-color);
  font-weight: 700;
  width: 100%;
}
.genre-grid {
  margin: 2rem;
  border-radius: 0.5rem;
  background-color: var(--subbg);
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  column-gap: 2rem;
  row-gap: 2rem;
}
/*genres section*/

footer {
  width: 100%;
  background-color: var(--darker-color);
  color: var(--font-color);
  text-align: center;
  padding: 20px;
  font-size: 16px;
}
footer a {
  color: var(--font-color);
  margin: 0 10px;
  text-decoration: none;
}

@media (max-width: 590px) {
  .sub-title {
    font-size: 14px;
    width: 100px;
  }

  .popular-novel-list img {
    width: 150px;
    height: 200px;
  }

  .genre-container {
    height: 30vh;
    overflow: hidden;
  }
}
