* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --background: #1f1f1f;
  --font-color: #ffffff;
  --icon-color: #551616;
  --light-icon-color: #932e2e;
  --subbg: #d9d9d9;
  --lighter-color: #06b8c1;
  --darker-color: #000000;
}

body {
  background-color: var(--background);
}

header .nav-container {
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 2rem;
  background: transparent;
}

.logo {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: var(--font-color);
}

.nav-list {
  display: flex;
}

.nav-list a {
  color: var(--font-color);
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2pt solid transparent;
  margin-left: 8rem;
  transition: all 0.55s ease;
}

.signup-btn-vertical,
.search-bar-vertical {
  display: none;
}

.nav-list a:hover {
  color: var(--lighter-color);
  border-bottom: 2pt solid var(--font-color);
}

#menu-icon {
  font-size: 35px;
  z-index: 1000;
  color: var(--font-color);
  cursor: pointer;
  display: none;
}

.search-bar {
  border: solid var(--font-color) 1.5pt;
  border-radius: 0.5rem;
}

.search-bar input {
  width: 8rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
}

.signup-btn {
  width: 5rem;
  text-align: center;
  background-color: var(--icon-color);
  border-radius: 0.5rem;
  color: var(--font-color);
  border: var(--font-color) solid 2pt;
  padding: 0.5rem;
  cursor: pointer;
  transition: transform 250ms ease;
  margin-left: 5rem;
}

.signup-btn:hover {
  transform: scale(1.05);
  color: var(--lighter-color);
}

@media (max-width: 1200px) {
  .logo {
    font-size: 22px;
  }
  .signup-btn {
    font-size: 16px;
  }
}

@media (max-width: 1000px) {
  #menu-icon {
    display: block;
  }
  .nav-list {
    z-index: 10000;
    position: absolute;
    top: 100px;
    right: 5rem;
    width: 300px;
    height: 30vh;
    background: var(--subbg);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 0.5rem;
    padding: 50px 20px;
    transform: all 0.55s ease;
    border-radius: 0.5rem;
  }

  .nav-list a {
    display: block;
    margin: 10px 0;
    margin-left: 0;
    color: var(--darker-color);
  }

  .signup-btn,
  .search-bar {
    display: none;
  }

  .signup-btn-vertical,
  .search-bar-vertical {
    display: block;
  }

  .signup-btn-vertical {
    margin: 8px;
    width: 50%;
    text-align: center;
    background-color: var(--icon-color);
    border-radius: 0.5rem;
    color: var(--font-color);
    border: var(--font-color) solid 2pt;
    padding: 0.5rem;
    cursor: pointer;
    transition: transform 250ms ease;
  }

  .signup-btn-vertical:hover {
    transform: scale(1.05);
    color: var(--lighter-color);
  }

  .search-bar-vertical input {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
  }

  .search-bar-vertical {
    margin: 8px;
    width: 50%;
    border: solid var(--font-color) 1.5pt;
    border-radius: 0.5rem;
  }
}

.slider-container .slider-wrapper {
  position: relative;
  width: 80%;
  margin: 0 auto;
}

.slider-container .slider-wrapper .slider {
  display: flex;
  aspect-ratio: 16/9;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.slider-nav a {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: var(--lighter-color);
  opacity: 0.75;
  transition: opacity ease 250ms;
}

.slider-nav a:hover {
  opacity: 1;
}

.slider::-webkit-scrollbar {
  display: none;
}

.announce {
  display: flex;
  width: 80%;
  height: 8rem;
  text-align: center;
  background-color: var(--lighter-color);
  justify-self: center;
  align-self: center;
  border-radius: 1rem;
  margin: 2rem;
  padding: 1.5rem;
  font-size: 36px;
  color: var(--font-color);
  font-weight: bold;
  justify-content: center;
}

.sub-title {
  display: flex;
  align-self: center;
  justify-self: center;
  justify-content: center;
  text-align: center;
  background-color: var(--icon-color);
  color: var(--lighter-color);
  font: 42px;
  width: 150px;
  border: solid var(--font-color) 1.5pt;
  height: auto;
  padding: 0.5rem;
  margin: 1.5rem;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.sub-title:hover {
  transform: scale(1.05);
}

.popular-section {
  background-color: var(--darker-color);
  padding: 20px;
}

.popular-grid {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  column-gap: 5rem;
  row-gap: 5rem;
}

.popular-grid img {
  width: 250px;
  height: 400px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.popular-grid img:hover {
  transform: scale(1.05);
}

.see-more {
  text-align: right;
  margin-top: 10px;
}

.see-more a {
  font-size: 24px;
  color: var(--lighter-color);
  text-decoration: none;
  transition: transform 0.2s ease;
}

.see-more a:hover {
  color: var(--light-icon-color);
}

.genre-grid {
  margin: 2rem;
  border-radius: 0.5rem;
  background-color: var(--subbg);
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  column-gap: 2rem;
  row-gap: 2rem;
}
.genre-grid a {
  text-decoration: none;
  font-size: 16px;
  color: var(--background);
  transition: transform 0.1s ease;
}

.genre-grid a:hover {
  transform: scale(1.05);
  color: var(--icon-color);
}

.footer {
  width: 100%;
  background-color: var(--darker-color);
  color: var(--font-color);
  text-align: center;
  padding: 20px;
  font-size: 16px;
}
.footer a {
  color: var(--font-color);
  margin: 0 10px;
  text-decoration: none;
}
